h2 {
    margin-bottom: 5px;
}

#title{
    text-align: center;
}

#gridContainer{
    border: 3px solid blue;
    width: 40vw;
    height: 40vw;
    aspect-ratio: 1;

    display:flex;
    flex-direction: column;
}

#mainBody{
    display:flex;
    justify-content: space-evenly;
}

#left {
    flex: 1 3 0;
    margin: 0 1em;
}

#left .gridModifier,
#left .colorModifier,
#resetButton{
    margin-left: 5vw;
}

#sizeInput {
    margin-bottom: 1em;
}

#resetButton{
    margin-top: 1em;
}


#right{
    flex: 3 1 0;
}